/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");
/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 80%;
  margin: 30px 0;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
}
.container .content {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .content .card {
  padding: 60px 40px;
}
.container .content .card:nth-child(1) {
  background: hsl(31, 77%, 52%);
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.container .content .card:nth-child(2) {
  background: hsl(184, 100%, 22%);
}
.container .content .card:nth-child(3) {
  background: hsl(179, 100%, 13%);
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.container .content .card img {
  width: 40px;
  margin-bottom: 20px;
}
.container .content .card h2 {
  color: hsl(0, 0%, 95%);
  font-family: "Big Shoulders Display", cursive;
  font-weight: 700;
  margin-bottom: 15px;
}
.container .content .card p {
  color: hsla(0, 0%, 100%, 0.75);
  margin-bottom: 80px;
}
.container .content .card a {
  text-decoration: none;
  color: hsl(184, 100%, 22%);
  border: 1px solid hsl(0, 0%, 95%);
  padding: 10px 20px;
  border-radius: 30px;
  background: hsl(0, 0%, 95%);
}
.container .content .card a:hover {
  color: hsl(31, 77%, 52%);
}
/* Footer */
/* .attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
} */
